// breakpoint
$breakpoints: (
  //キー　　値
  "sp": "screen and (max-width: 767px)",
  //767px以下（スマホ）用の表示
  "tb": "screen and (min-width: 768px)",
  //タブレット用の表示
  "pc": "screen and (min-width: 1280px)" //1280px以上（PC）用の表示
) !default;
