// color
$font-color :#404040;
$pink-color: #F875AA;
$white: #fff;

// font


// inner

// breakpoint
$breakpoints: ( //キー　　値
  //767px以下（スマホ）用の表示
  "sp-small": "screen and (max-width: 320px)",
  "sp-middle": "screen and (max-width: 375px)",
  "sp-large": "screen and (max-width: 767px)",
  //タブレット用の表示
  "tb-small": "screen and (min-width: 768px)",
  "tb-middle": "screen and (min-width: 1024px)",
  //PC用の表示
  "pc-small": "screen and (min-width: 1280px)",
  "pc-middle": "screen and (min-width: 1920px)"
) !default;