@use "../global"as *;

.c-lp2025-button {
    border-radius: 100px;
    color: $white;
    display: block;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.25);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.18);
    display: flex;
    gap: rclamp(14, 38, 375, 1023);
    align-items: center;
    font-weight: 700;
    justify-content: center;
}

.lp2025-btn-top {
    padding-inline: rclamp(13, 82, 375, 1023);
    padding-block: rclamp(23, 63, 375, 1023);
    font-size: rclamp(25, 62, 375, 1023);
    text-align: center;
    font-weight: 600;

    i {
        display: none;

        @include mq(tb-middle) {
            display: block;
        }
    }
}

.lp2025-btn-large {
    padding-inline: rclamp(42, 115, 375, 1023);
    padding-block: rclamp(13, 46, 375, 1023);
    font-size: rclamp(25, 62, 375, 1023);
    text-align: center;
    font-weight: 600;

    @include mq(tb-middle) {
        padding-block: rclamp(21, 40, 1024, 1920);
        padding-inline: rclamp(109, 205, 1024, 1920);
        font-size: rclamp(29, 55, 1024, 1920);
        max-width: rclamp(637, 1195, 1024, 1920);
    }
}


.lp2025-btn-middle {
    max-width: rclamp(230, 627, 375, 1023);
    padding-block: rclamp(10, 27, 375, 1023);

    @include mq(tb-middle) {
        padding-inline: rclamp(53, 100, 1024, 1920);
        padding-block: rclamp(19, 35, 1024, 1920);
        font-size: rclamp(25, 46, 1024, 1920);
        max-width: 100%;
    }

}

.lp2025-blue-btn {
    background: linear-gradient(180deg, #A1C4FD 30%, #C2E9FB 100%);
}

.lp2025-pink-btn {
    background: linear-gradient(180deg, #FF9A9E 30%, #FECFEF 100%);
}