@use "../global"as *;

.c-lp2025__head {
    position: relative;
}


.c-lp2025__heading {
    color: rgba(249, 169, 193, 0.20);
    font-family: Montserrat;
    font-size: rclamp(48, 131, 375, 1023);
    font-weight: 700;
    text-align: center;

    @include mq(tb-middle) {
        font-size: rclamp(95, 178, 1024, 1920);
    }
}

.c-lp2025__subHeading {
    color: $pink-color;
    font-size: rclamp(24, 65, 375, 1023);
    font-weight: 900;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    font-family: "Toppan Bunkyu Midashi Gothic";

    @include mq(pc-middle) {
        font-size: rclamp(51, 96, 1024, 1920);
    }
}