@use "../global"as *;

.c-lp2025__head {
    position: relative;
}

.p-lp2025-result-card__swiper-container {
    position: relative;
}

.c-lp2025__heading {
    color: rgba(249, 169, 193, 0.20);
    font-family: Montserrat;
    font-size: rclamp(48, 131, 375, 1023);
    font-weight: 700;
    text-align: center;
}

.c-lp2025__subHeading {
    color: $pink-color;
    font-size: rclamp(24, 65, 375, 1023);
    font-weight: 900;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.p-lp2025-result__space {
    background: rgba(248, 117, 170, 0.46);
    padding-top: rclamp(5, 14, 375, 1023);
    padding-inline: rclamp(5, 14, 375, 1023);
    padding-bottom: rclamp(62, 169, 375, 1023);
    margin-top: rclamp(55, 149, 375, 1023);
}

.p-lp2025-result-card {
    background: $white;
    padding-inline: rclamp(22, 59, 375, 1023);
    padding-top: rclamp(19, 52, 375, 1023);
}

.p-lp2025-result-card__thumbnail {
    img {
        max-width: rclamp(320, 873, 375, 1023);
        height: 100%;
    }
}

.p-lp2025-result-card__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-lp2025-result-card__title {
    background: $pink-color;
    color: $white;
    font-size: rclamp(20, 55, 375, 1023);
    font-weight: 400;
    max-width: rclamp(238, 648, 375, 1023);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-inline: rclamp(10, 27, 375, 1023);
    padding-block: rclamp(18, 48, 375, 1023);
}

.p-lp2025-result-card__textBox {
    margin-top: rclamp(14, 37, 375, 1023);
    display: flex;
    flex-direction: column;
    gap: rclamp(11, 29, 375, 1023);
    align-items: center;
}

.p-lp2025-result-card__day {
    font-size: rclamp(20, 55, 375, 1023);
}

.p-lp2025-result-card__text {
    font-size: rclamp(16, 44, 375, 1023);
}

.p-lp2025-result-card__tagBox {
    display: flex;
    flex-wrap: wrap;
    gap: rclamp(27, 74, 375, 1023);
}

.p-lp2025-result-card__tag {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background: #FAAAC1;
    width: rclamp(89, 241, 375, 1023);
    padding-block: rclamp(5, 14, 375, 1023);
    color: $white;
    font-size: rclamp(16, 44, 375, 1023);
}

.lp2025-result-pagination {
    width: rclamp(16, 44, 375, 1023);
    height: rclamp(16, 44, 375, 1023);
    background: $white;
    margin-top: rclamp(23, 63, 375, 1023);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);

    &.pagination-is__active {
        background: #D9D9D9;
    }
}

.lp2025-result-prev,
.lp2025-result-next {
    width: rclamp(40, 109, 375, 1023);
    height: rclamp(40, 109, 375, 1023);
    border-radius: 50%;
    background: rgba(250, 170, 193, 0.5);

    i {
        color: $white;
    }
}

.lp2025-result-prev {
    left: rclamp(-15, -41, 375, 1023);
}

.lp2025-result-next {
    right: rclamp(-15, -41, 375, 1023);
}