@use "../global"as *;

.c-lp2025__head {
    position: relative;
}

.p-lp2025-result-card__swiper-container {
    position: relative;
}

.c-lp2025__heading {
    color: rgba(249, 169, 193, 0.20);
    font-family: Montserrat;
    font-size: rclamp(48, 131, 375, 1023);
    font-weight: 700;
    text-align: center;
}

.c-lp2025__subHeading {
    color: $pink-color;
    font-size: rclamp(24, 65, 375, 1023);
    font-weight: 900;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}