@use "../global"as *;

.l-lp2025-header__logo {
    padding-top: rclamp(16, 44, 375, 1023);
    padding-inline: rclamp(37, 100, 375, 1023);

    @include mq(tb-middle) {
        padding-block: rclamp(9, 17, 1024, 1920);
        padding-inline: rclamp(16, 30, 1024, 1920);
    }

    img {
        @include mq(tb-middle) {
            width: rclamp(213, 400, 1024, 1920);
            height: 100%;
        }
    }

    span {
        color: transparent;
        width: 0;
        height: 0;
        display: block;
    }
}

.l-lp2025-header__nav {
    width: 0;
    height: 0;
    color: transparent;
}