@use "../global"as *;

.p-lp2025-fv__inner {
    position: relative;
    background: rgba(251, 221, 215, 0.50);
    padding-bottom: rclamp(33, 89, 375, 1023);
}


.p-lp2025-fv__background {

    img {
        max-width: rclamp(375, 1023, 375, 1023);
        height: 100%;
    }

}

.p-lp2025-fv__top--head {
    position: absolute;
    background: rgba(255, 255, 255, 0.76);
    color: $pink-color;
    text-shadow: 2px 5px 5px #FFF;
    top: rclamp(269, 732, 375, 1023);
    max-width: rclamp(367, 1001, 375, 1023);
    padding-block: rclamp(13, 35, 375, 1023);
    padding-inline: rclamp(28, 76, 375, 1023);
}

.p-lp2025-fv__top {
    padding-inline: rclamp(8, 20, 375, 1023);
    padding-top: rclamp(13, 34, 375, 1023);
}

.p-lp2025-fv__top--text {
    font-size: rclamp(14, 35, 375, 1023);
    font-weight: 500;
    color: #696464;
}

.p-lp2025-fv__button {
    margin-top: rclamp(19, 52, 375, 1023);
}