@use "../global"as *;

// reset 
.swiper-button-prev,
.swiper-button-next {
    color: transparent;
}

.swiper-navigation-icon {
    display: none;
}

.swiper-slide {
    margin-right: 0;
}

.p-lp2025-result__inner {
    padding-top: rclamp(60, 164, 375, 1023);
}


.p-lp2025-result-card__swiper-container {
    position: relative;
}

.p-lp2025-result-card__swiper-wrapper {
    @include mq(tb-middle) {
        gap: rclamp(57, 106, 1024, 1920);

    }
}

.p-lp2025-result__space {
    background: rgba(248, 117, 170, 0.46);
    padding-top: rclamp(5, 14, 375, 1023);
    padding-inline: rclamp(5, 14, 375, 1023);
    padding-bottom: rclamp(62, 169, 375, 1023);
    margin-top: rclamp(55, 149, 375, 1023);

    @include mq(tb-middle) {
        margin-top: rclamp(31, 58, 1024, 1920);
        padding-top: rclamp(60, 112, 1024, 1920);
        padding-inline: rclamp(94, 176, 1024, 1920);
        padding-bottom: rclamp(75, 140, 1024, 1920);
    }
}

.p-lp2025-result-card {
    padding-inline: rclamp(22, 59, 375, 1023);
    padding-block: rclamp(19, 52, 375, 1023);
}

.p-lp2025-result-card__swiper-slide {
    background: $white;

    @include mq(tb-middle) {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: rclamp(523, 980, 1024, 1920);
        padding-block: rclamp(14, 26, 1024, 1920) !important;
        padding-inline: rclamp(24, 45, 1024, 1920);
    }
}

.p-lp2025-result-card__thumbnail {
    img {
        max-width: rclamp(320, 873, 375, 1023);
        height: 100%;

        @include mq(tb-middle) {
            max-width: rclamp(344, 645, 1024, 1920);
        }
    }
}

.p-lp2025-result-card__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rclamp(14, 37, 375, 1023);
}

.p-lp2025-result-card__title {
    background: $pink-color;
    color: $white;
    font-size: rclamp(20, 55, 375, 1023);
    font-weight: 400;
    max-width: rclamp(238, 648, 375, 1023);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-inline: rclamp(10, 27, 375, 1023);
    padding-block: rclamp(18, 48, 375, 1023);

    @include mq(tb-middle) {
        font-size: rclamp(21, 40, 1024, 1920);
        padding-block: rclamp(21, 40, 1024, 1920);
        padding-inline: 0;
        text-align: center;
        max-width: rclamp(253, 475, 1024, 1920);
    }
}

.p-lp2025-result-card__textBox {
    display: flex;
    flex-direction: column;
    gap: rclamp(11, 29, 375, 1023);
    align-items: center;
}

.p-lp2025-result-card__day {
    font-size: rclamp(20, 55, 375, 1023);

    @include mq(tb-middle) {
        font-size: rclamp(21, 40, 1024, 1920);
    }
}

.p-lp2025-result-card__text {
    font-size: rclamp(16, 44, 375, 1023);

    @include mq(tb-middle) {
        font-size: rclamp(17, 32, 1024, 1920);
        height: rclamp(70, 132, 1024, 1920);
    }
}

.p-lp2025-result-card__tagBox {
    display: flex;
    flex-wrap: wrap;
    gap: rclamp(27, 74, 375, 1023);
}

.p-lp2025-result-card__tag {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background: #FAAAC1;
    width: rclamp(89, 241, 375, 1023);
    padding-block: rclamp(5, 14, 375, 1023);
    color: $white;
    font-size: rclamp(16, 44, 375, 1023);

    @include mq(tb-middle) {
        width: rclamp(95, 178, 1024, 1920);
        font-size: rclamp(17, 32, 1024, 1920);
    }
}

.lp2025-result-pagination {
    position: absolute;
    height: rclamp(16, 44, 375, 1023) !important;
    margin-top: rclamp(23, 63, 375, 1023) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: rclamp(-40, -109, 375, 1023) !important;
    z-index: 20;
    width: 100%;
    height: 100%;

    @include mq(tb-middle) {
        bottom: 0;
        left: 0;
        height: 30px;
        z-index: 50;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.lp2025-result-pagination .swiper-pagination-bullet {
    background: $white !important;
    width: rclamp(16, 44, 375, 1023) !important;
    height: rclamp(16, 44, 375, 1023) !important;
    border-radius: 50%;
    opacity: 1 !important;
    margin: 0 5px !important;
    display: flex !important;

    @include mq(tb-middle) {
        width: rclamp(17, 32, 1024, 1920) !important;
        height: rclamp(17, 32, 1024, 1920) !important;
    }


    &.swiper-pagination-bullet-active {
        background: #D9D9D9 !important;
    }

}

.lp2025-result-prev,
.lp2025-result-next {
    width: rclamp(40, 109, 375, 1023);
    height: rclamp(40, 109, 375, 1023);
    border-radius: 50%;
    background: rgba(250, 170, 193, 0.5);

    @include mq(tb-middle) {
        width: rclamp(43, 80, 1024, 1920);
        height: rclamp(43, 80, 1024, 1920);
    }

    i {
        color: $white;

        @include mq(tb-middle) {
            font-size: 1.5rem;
        }
    }
}

.lp2025-result-prev {
    left: rclamp(-15, -41, 375, 1023) !important;

    @include mq(tb-middle) {
        left: rclamp(-16, -30, 1024, 1920) !important;
    }

}

.lp2025-result-next {
    right: rclamp(-15, -41, 375, 1023) !important;

    @include mq(tb-middle) {
        right: rclamp(-16, -30, 1024, 1920) !important;
    }
}