@use "../global"as *;

.l-lp2025-worry {
    background: url(../img/bg_worry.webp) center / cover no-repeat;
    position: relative;
}

.p-lp-2025-worry__inner {
    padding-top: rclamp(30, 82, 375, 1023);

    @include mq(tb-middle) {
        padding-top: rclamp(75, 140, 1024, 1920);
        padding-left: rclamp(50, 93, 1024, 1920);
    }
}


.p-lp-2025-worry__contents--head {
    border-right: 3px solid #696464;
    border-bottom: 3px solid #696464;
    width: 90%;
    padding-right: rclamp(45, 121, 375, 1023);

    @include mq(tb-middle) {
        padding-left: rclamp(10, 27, 375, 1023);
        padding-bottom: rclamp(10, 27, 375, 1023);
    }
}


.p-lp-2025-worry__contents--heading {
    color: #696464;
    font-size: rclamp(18, 49, 375, 1023);
    white-space: nowrap;
    padding-left: rclamp(10, 27, 375, 1023);
    padding-bottom: rclamp(10, 27, 375, 1023);

    @include mq(tb-middle) {
        padding-left: 0;
        padding-bottom: 0;
    }
}

.p-lp-2025-worry__contents--heading,
.p-lp-2025-worry__contents--subHeading {

    @include mq(tb-middle) {
        color: #696464;
        font-size: rclamp(34, 64, 1024, 1920);

    }
}

.p-lp-2025-worry__contents {
    @include mq(pc-middle) {
        display: flex;
        gap: rclamp(37, 70, 1024, 1920);
        margin-top: rclamp(20, 38, 1024, 1920);
    }
}

.p-lp-2025-worry__textBox {
    padding-inline: rclamp(8, 20, 375, 1023);
    margin-top: rclamp(19, 50, 375, 1023);
    display: flex;
    flex-direction: column;
    gap: rclamp(13, 34, 375, 1023);

    @include mq(tb-middle) {
        margin-top: rclamp(35, 66, 1024, 1920);
        padding-left: rclamp(27, 51, 1024, 1920);
        gap: rclamp(19, 35, 1024, 1920);
    }
}

.p-lp-2025-worry__text {
    color: #000;
    font-size: rclamp(16, 44, 375, 1023);

    @include mq(tb-middle) {
        font-size: rclamp(24, 45, 1024, 1920);
    }
}

.p-lp-2025-worry__image {
    display: flex;
    justify-content: flex-end;

    img {
        width: rclamp(300, 818, 375, 1023);
        height: auto;

        @include mq(tb-middle) {
            width: rclamp(347, 650, 1024, 1920);
        }
    }
}

.l-lp2025-worry__bg {
    &::after {
        content: "";
        clip-path: polygon(50% 100%, 40% 0, 60% 0);
        width: 100%;
        display: block;
        height: rclamp(55, 150, 375, 1023);
        background-color: #C6BECC;

        @include mq(tb-middle) {
            height: rclamp(53, 100, 1024, 1920);
            clip-path: polygon(50% 100%, 43% 0, 57% 0);
        }
    }
}