@use "../global"as *;

.l-lp2025-kaiketsu {
    background: url(../img/bg_kaiketsu.webp) left top / cover no-repeat;
    margin-top: rclamp(-55, -150, 375, 1023);
    padding-top: rclamp(68, 186, 375, 1023);

    @include mq(tb-middle) {
        margin-top: rclamp(-53, -100, 1024, 1920);
        padding-top: rclamp(88, 165, 1024, 1920);
    }
}

.p-lp2025-kaiketsu__heading {
    padding-inline: rclamp(22, 60, 375, 1023);
    color: $pink-color;
    text-shadow: 3px 6px 5px #FFF;
    font-size: rclamp(24, 65, 375, 1023);
    font-weight: 700;

    @include mq(tb-middle) {
        padding-inline: 0;
        text-align: center;
        font-size: rclamp(43, 80, 1024, 1920);
    }
}

.p-lp2025-kaiketsu__contents {
    display: flex;
    flex-direction: column-reverse;

    @include mq(tb-middle) {
        flex-direction: row;
        justify-content: center;
    }
}

.p-lp2025-kaiketsu__image {
    display: flex;
    justify-content: center;
    margin-top: rclamp(13, 34, 375, 1023);

    img {
        width: rclamp(207, 565, 375, 1023);
        height: auto;

        @include mq(tb-middle) {
            width: rclamp(324, 607, 1024, 1920);
        }
    }
}

.p-lp2025-kaiketsu__textBox {
    padding-left: rclamp(17, 45, 375, 1023);
    margin-top: rclamp(37, 100, 375, 1023);

    @include mq(tb-middle) {
        display: flex;
        flex-direction: column;
        gap: rclamp(29, 55, 1024, 1920);
        margin-block: rclamp(67, 126, 1024, 1920);
    }
}

.p-lp2025-kaiketsu__text {
    font-family: Montserrat, "Noto Sans JP";
    font-size: rclamp(12, 33, 375, 1023);
    font-weight: 700;
    color: $font-light-color;

    @include mq(tb-middle) {
        font-size: rclamp(21, 40, 1024, 1920);
    }
}